/* styles.css */
h5{
    color: rgb(14, 142, 234);
    font-size: 48px;
    font-weight:lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    padding: 40px;
    
  }