/* .input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  height: 30px;
  width: 100%;
  max-width: 380px;
  margin-left: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: medium;
} */

/* input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
} */
/* label {
    text-align: left;
    margin-left: 25px;
}
.label {
  margin-top: 25px;
} */
.register-form .form {
    height: auto; /* Remove the fixed height */
    width: 450px;
    border: 2px solid;
    border-color: #CECDCD;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form content horizontally */
}
.rightSide {
    height: 200px;
    width: 600px;
    /* margin-left: 650px;
    margin-top: -350px; */
}
.logoText {
    font-family: poppins;
    font-size: 35px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
}
.docChain {
    font-family: poppins;
    font-size: 25px;
    color: #62C2FF;
    text-align: left;
    margin-left: 30px;
}
.signupText {
    font-family: poppins;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    /* margin-left: 30px; */
}
.welcome {
    font-family: poppins;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    /* margin-left: 30px; */
    margin-top: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.registerBtn {
    width: 380px;
    height: 35px;
    margin-top: 20px;
    background-color: #62C2FF;
    border: 1px solid #585858;
    border-radius: 5px;
    font-family: poppins;
    font-size: medium;
}


.register-form {
    background-color: white;
    padding: 2rem;
    display: flex; /* Add this line */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust the height as needed */
 
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  justify-content: left;
  margin: 10px;
}
input {
  justify-content: left;
  /* border: 2px; */
  border-style: double;
}